/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure at least full viewport height */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.videoInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 16px;
}

.downloadButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
}

.downloadButton:hover {
    background-color: #0056b3;
}

.videoContainer {
    position: relative; /* Ensure relative positioning */
    width: 100%; /* Full width */
    max-width: 100%; /* Max width */
    margin-top: 20px;
    height: auto; /* Auto height */
    max-height: 80vh; /* Limit height to 80% of viewport */
    overflow: hidden; /* Hide overflow */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.videoContainer video {
    width: 100%; /* Full width */
    height: auto; /* Auto height */
    max-height: 80vh; /* Limit video height to 80% of viewport height */
    object-fit: contain; /* Maintain aspect ratio */
}
